@media (min-width: 992px) {
    .main.flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 40px 0;
        padding: 60px;
    }

    .google {
        font-family: ProductSansRegular, sans-serif;
        font-size: 125px;
    }
    .search-box {
        display: flex;
        align-items: center;
        border-radius: 50px;
        border: 1px solid #DFE1E5;
        padding: 5px 15px 5px 15px;
        width: 600px;
        height: 45px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main.flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 20px 0;
        padding: 60px;
    }

    .google {
        font-family: ProductSansRegular, sans-serif;
        font-size: 125px;
    }
}

@media (max-width: 767px) {
    .main.flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 20px 0;
        padding: 60px;
    }

    .google {
        font-family: ProductSansRegular, sans-serif;
        font-size: 125px;
    }
}

@font-face {
    font-family: ProductSansRegular;
    src: url("../fonts/Product Sans Regular.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    padding: 6px;
    margin: 0;
}

.row {
    width: 100%;
}

.nav-bar {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: arial, sans-serif;
    color: #000000de;
}

.nav-bar li {
    display: inline;
    align-items: center;
    margin: 0;
    padding: 5px;
}

.nav-photo {
    height: auto;
    width: 40px;
    border-radius: 50%;
}

.nav-bar li.profile {
    padding: 3px;
    margin: 0 5px;

}

.nav-bar li.apps {
    padding: 2px;
    margin: 0 5px 0 15px;
}

.nav-photo-apps {
    height: auto;
    width: 30px;
    border-radius: 50%;
}

.nav-photo-apps:hover, .nav-bar li.profile:hover {
    background: #efeeee;
    border-radius: 50%;
}

.nav-text {
    font-size: 13px;
}

.nav-text:hover {
    cursor: pointer;
    text-decoration: underline;
}


.flex-container div {
    margin: 25px;
}

.search-icon {
    height: auto;
    width: 3%;
    margin: 0 5px 0 0;
}
.x-icon {
    height: auto;
    width: 3%;
    margin: 0 5px;
}
.divider {
    height: 100%;
    width: 0;
    margin: 0 5px;
    padding: 0;
    border-left: 1px solid #DFE1E5;
}
.record-icon {
    height: auto;
    width: 3%;
    margin: 0 5px;
}

.search-text {
    border: 0;
    padding: 0;
    margin: 0 5px;
    width: 90%;
    height: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #000000de;
}
.search-text:focus-visible {
    outline: none;
}